
.img {

    align-content: center;
    height: 25%;
    width: 25%;
}
.body {
  background-image: linear-gradient(to top right, red, blue); 
  font-family: verdana;

}


.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}
.h1{
    font-family: monospace;
color: chartreuse;
}
.button{
    background-color: cornflowerblue;
    font-size: xx-large;
}
