.Back-img{

    background-image: url(../images/back-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: scroll;
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px;

}